# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
env.bak/
*.sqlite3
*.log

# Flask
instance/
.env

# VS Code
.vscode/

# Mac
.DS_Store

# OS
Thumbs.db

# Sensitive key files
keys/
*.key

# Audio files
*.wav
*.mp3
*.m4a
*.flac
*.webm
*.aac
*.ogg
*.opus

# Optional: exclude uploads folder if used for audio
uploads/
